<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://jax-ws.dev.java.net/spring/core
http://jax-ws.dev.java.net/spring/core.xsd
http://jax-ws.dev.java.net/spring/servlet
http://jax-ws.dev.java.net/spring/servlet.xsd">

<!-- 	<wss:binding url="/soap/StudentInfo">
        <wss:service>
            <ws:service bean="#studentWs"/>
        </wss:service>
    </wss:binding> -->
 
	<!-- Database Configuration -->
	<import resource="../database/DataSource.xml"/>
	<import resource="../database/Hibernate.xml"/>
 
	<!-- Beans Declaration -->
	<import resource="../beans/Student.xml"/>
	

 
<!--     Web service methods
    <bean id="studentWs" class="com.csc.resources.soap.StudentSoapResource"/> -->
 
</beans>